.email-preview {
    /* font-size: 2em; */
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 50px;

    display: flex;
    gap: 20px;
    width: 100%;
    /* grid-area: 1/4; */
    padding-left: 25px;
    grid-column: 1 / span 3;
}

.email-preview-title {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    align-items: center;
    justify-content: space-between;
}

.email-preview .email-subject {
    font-weight: bold;
}

.email-preview .sender-details {
    display: flex;
    gap: 10px;
}

.email-preview .email-body {
    text-align: justify;
    width: 90%;
}

.email-preview .email-preview-title .material-symbols-rounded {
    font-size: 1.60rem;
    background-color: inherit;
    padding: 0;
    color: #7c7575;
}

.email-item .email-preview {
    background-color: #ffffff;
    /* Set your desired background color */
}