.email-btn {
    height: 2em;
}

.email-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 40px;; */
}

/* .email-item section {
    height: 30px;
} */

.actions-btns-container {
    display: flex;
    flex-direction: row;
    /* height: fit-content; */
}