.mail-index {
    background-color: white;
    border-radius: 1em 0 0 0;
    font-family: "Google Sans",
        Roboto,
        RobotoDraft,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 0.875rem;
}

.emails-container {
    /* padding-left: 5px; */
}


.pagination {
    display: flex;
    flex-direction: row;
}

.email-category-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.5rem;
    color: var(--gray3);
    min-height: 45px;
    margin-top: 40px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--border-gray);
}

.email-category-container>* {
    font-size: 1.5rem;
}

.email-category-item {
    align-items: center;
}

.email-category-item:hover {
    box-shadow: 0px 5px 10px 0px rgba(224, 197, 197, 0.5); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.email-category-container .email-category-item .material-symbols-rounded {
    font-size: 1.5rem;
}