.emails-container {
    /* margin: 3px; */
    /* border: 1px solid; */
    border-top: none;
    /* border-color: var(--border-gray); */
    z-index: 1;

}

.material-symbols-rounded {
    font-size: 1rem;
}

.app-aside button .material-symbols-rounded {
    font-size: 1.5rem;
}

.email-btn.icon {
    /* height: 2em; */
    font-family: 'Material Symbols Rounded';
    /* background-color: #fff; */
}

.email-item {
    display: grid;
    cursor: pointer;
    /* padding: 5px; */
    /* padding-left: 25px; */
    /* border-top: 1px solid; */
    padding-inline-start: 1em;
    border-color: var(--border-gray);
    grid-template-columns: 0.2fr 1.2fr 5fr 1fr;
    align-items: center;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
}


.email-item.unread {
    /* background-color: #d6d4d473; */
    background-color: var(--gray5);
}

.email-item.unread .email-subject,
.email-item.unread .email-content,
.email-item.unread .sent-at {
    /* background-color: #9c2121; */
    font-weight: bold;

}

button.email-btn {
    /* background-color: #fff; */
}

.sent-at {
    /* align-self: self-end; */
    /* flex:right; */
    justify-self: flex-end;
    padding: 1rem;

}



.actions-btns-container {
    display: flex;
    flex-direction: row;
}


.material-symbols-rounded.star:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    color: rgb(218 173 42 / 93%);
}

.email-item .starred {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    color: rgb(218 173 42 / 93%);
}


.email-item .unread {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    color: rgba(26, 24, 20, 0.93);
}


/* .email-btn {
    height: 2em;
    font-family: 'Material Symbols Rounded';
    color: #yourDesiredColor; /* Change this to the color you want */
/* } */

/* .email-btn:hover .material-symbols-rounded {
    fill: blue;
    background-color: blue;
} */

.no-results {

    color: var(--gray3);
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 30px;
    padding: 50px;
    border-bottom: 1px solid var(--border-gray);
}

.email-btn .star .material-symbols-rounded {
    font-size: 1.60rem;
    /* background-color: #ffff; */
    padding: 0;
    color: #7c7575;
}