.emails-container {
    border: 1px solid;
    border-top: none;
}

.email-btn {
    height: 2em;
    font-family: 'Material Symbols Rounded';
}

.email-item {
    display: grid;
    cursor: pointer;
    border-top: 1px solid;
    grid-template-columns: 1fr 5fr 1fr;

}

.actions-btns-container {
    display: flex;
    flex-direction: row;
}


.material-symbols-rounded.star:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    color: rgb(218 173 42 / 93%);
}

/* .email-btn {
    height: 2em;
    font-family: 'Material Symbols Rounded';
    color: #yourDesiredColor; /* Change this to the color you want */
/* } */

/* .email-btn:hover .material-symbols-rounded {
    fill: blue;
    background-color: blue;
} */