.create-note-expand {
    position: relative;
    width: 100%;
    max-width: 600px;
    color: rgb(32, 33, 36);
    outline: 1px solid rgb(224, 224, 224);
    border-radius: 0.5rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.create-note-expand [name=title] {
    font-size: 1.1rem;
    font-weight: 600;
}

.create-note-expand div[contenteditable] {
    background-color: #ffffff00;
    padding: 0.75rem 1rem;
}

.create-note-expand .buttons-container {
    display: flex;
    justify-content: space-between;
}

.create-note-expand .colors-container {
    position: absolute;
    width: 75%;
    left: 50%;
    translate: -50% -10%;
    padding: 0.75rem;
    background-color: white;
    display: flex;
    gap: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 8px 0px rgb(0, 0, 0, 0.2);
}

.create-note-expand .colors-container > .color {
    cursor: pointer;
    aspect-ratio: 1;
    flex-grow: 1;
    border-radius: 10rem;
}

.create-note-expand .colors-container > .color:has([name=color]:checked) {
    outline: 2px solid black;
}

.create-note-expand .colors-container > .color-a-1 {
    background-color: var(--note-color-a-1);
}

.create-note-expand .colors-container > .color-a-2 {
    background-color: var(--note-color-a-2);
}

.create-note-expand .colors-container > .color-a-3 {
    background-color: var(--note-color-a-3);
}

.create-note-expand .colors-container > .color-a-4 {
    background-color: var(--note-color-a-4);
}

.create-note-expand .colors-container > .color-a-5 {
    background-color: var(--note-color-a-5);
}

.create-note-expand .colors-container > .color-b-00 {
    background-color: var(--note-color-b-00);
}

.create-note-expand .colors-container > .color-b-01 {
    background-color: var(--note-color-b-01);
}

.create-note-expand .colors-container > .color-b-02 {
    background-color: var(--note-color-b-02);
}

.create-note-expand .colors-container > .color-b-03 {
    background-color: var(--note-color-b-03);
}

.create-note-expand .colors-container > .color-b-04 {
    background-color: var(--note-color-b-04);
}

.create-note-expand .colors-container > .color-b-05 {
    background-color: var(--note-color-b-05);
}

.create-note-expand .colors-container > .color-b-06 {
    background-color: var(--note-color-b-06);
}

.create-note-expand .colors-container > .color-b-07 {
    background-color: var(--note-color-b-07);
}

.create-note-expand .colors-container > .color-b-08 {
    background-color: var(--note-color-b-08);
}

.create-note-expand .colors-container > .color-b-09 {
    background-color: var(--note-color-b-09);
}

.create-note-expand .colors-container > .color-b-10 {
    background-color: var(--note-color-b-10);
}

.create-note-expand .colors-container > .color-b-11 {
    background-color: var(--note-color-b-11);
}

.create-note-expand .colors-container [name=color] {
    display: none;
}