@media (width < 600px) {
    .note-list {
        columns: 1;
    }
}

@media (600px <= width < 840px) {
    .note-list {
        columns: 2;
    }
}

@media (840px <= width < 1080px) {
    .note-list {
        columns: 3;
    }
}

@media (1080px <= width < 1320px) {
    .note-list {
        columns: 4;
    }
}

@media (1560px <= width < 1800px) {
    .note-list {
        columns: 5;
    }
}

@media (1800px <= width < 2040px) {
    .note-list {
        columns: 6;
    }
}

.note-list article {
    margin-block-end: 1em;
    break-inside: avoid;
    padding: 0.5em;
    width: 240px;
    color: rgb(32, 33, 36);
    text-align: center;
    overflow-wrap: break-word;
    outline: 1px solid rgb(224, 224, 224);
    border-radius: 0.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0);
    transition: 500ms;
}

.note-list article:is(:hover, :active) {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.note-list button {
    opacity: 0;
    transition: 750ms;
}

.note-list article:is(:hover, :active) button {
    opacity: 1;
}

.note-list p {
    margin: 0.25em 0 0 0;
}