@media (width < 600px) {
    .note-list {
        columns: 1;
    }
}

@media (600px <= width < 840px) {
    .note-list {
        columns: 2;
    }
}

@media (840px <= width < 1080px) {
    .note-list {
        columns: 3;
    }
}

@media (1080px <= width < 1320px) {
    .note-list {
        columns: 4;
    }
}

@media (1560px <= width < 1800px) {
    .note-list {
        columns: 5;
    }
}

@media (1800px <= width < 2040px) {
    .note-list {
        columns: 6;
    }
}

.note-list article {
    margin-block-end: 1rem;
    break-inside: avoid;
    padding: 0.5rem;
    width: 240px;
    color: rgb(32, 33, 36);
    text-align: center;
    overflow-wrap: break-word;
    outline: 1px solid rgb(224, 224, 224);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0);
}

.note-list article:is(:hover, :active) {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.note-list input[type=text] {
    font-size: 1em;
    font-weight: 600;
}

.note-list :is(input[type=text], textarea) {
    background-color: #ffffff00;
    padding: 0.75rem 1rem;
    cursor: default;
}

.note-list .input-container:first-of-type :is(input[type=text], textarea) {
    padding-block-end: 0;
}

.note-list :is(
    :is(input[type=text], textarea):focus,
    :has(:is(input[type=text], textarea):focus) + * > :is(input[type=text], textarea),
    *:has(+ * > :focus) > :is(input[type=text], textarea),
) {
    cursor: auto;
}

.note-list .buttons-container {
    display: flex;
}

.note-list button {
    opacity: 0;
    transition: opacity 750ms;
    background-color: #ffffff00;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-list button:hover {
}

.note-list article:is(:hover, :active) button {
    opacity: 1;
}

.note-list p {
    margin: 0.25rem 0 0 0;
}

/* .create-note-expand .buttons-container {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.create-note-expand .buttons-container button {
    background-color: white;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-note-expand .buttons-container button:hover {
    background-color: gainsboro;
}

.create-note-expand .buttons-container button.close {
    padding: 0 0.5em;
}

.create-note-expand .type-buttons-container {
    display: flex;
    gap: 0.25rem;
}

.create-note-expand .type-buttons-container button {
    aspect-ratio: 1;
} */