@media (width < 600px) {
    .note-list {
        columns: 1;
    }
}

@media (600px <= width < 840px) {
    .note-list {
        columns: 2;
    }
}

@media (840px <= width < 1080px) {
    .note-list {
        columns: 3;
    }
}

@media (1080px <= width < 1320px) {
    .note-list {
        columns: 4;
    }
}

@media (1560px <= width < 1800px) {
    .note-list {
        columns: 5;
    }
}

@media (1800px <= width < 2040px) {
    .note-list {
        columns: 6;
    }
}

.note-list article {
    margin-block-end: 1em;
    break-inside: avoid;
    width: 240px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    overflow-wrap: break-word;
    color: rgb(32, 33, 36);
}

.note-list p {
    margin: 0.25em 0 0 0;
}