button {
    cursor: pointer;
    /* background-color: var(--clr2bg); */
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

button:hover {
    /* background-color: var(--clr2); */
    color: lightseagreen;
    filter: brightness(1.05);
    transition: 300ms;
}

/* input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
} */

input {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
}

textarea {
    display: block;
    width: 100%;
    height: fit-content;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    resize: none;
}

div[contenteditable] {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: start;
    border: none;
    outline: none;
    padding: 0;
}

div[contenteditable]:focus-visible {
    outline: none;
}