.main-layout {
    display: grid;
    grid-template-columns: 4em 1fr;
    align-items: start;
}

.main-layout:has(.hamburger-menu-checkbox:checked) {
    grid-template-columns: 9em 1fr;
}

.app.main-layout {
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

.main-layout > * {
    grid-column: 2;
}

.main-layout .full-width {
    grid-column: 1/-1;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}