.note-index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  grid-area: 2 / 2;
  background-color: white;
  border-radius: 1em 1em 0 0;
}

.note-index h3 {
  align-self: start;
}