* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: GoogleSans-Regular, Arial;
    background-color: var(--main-layout-bg);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
