.main-layout {
    display: grid;
    grid-template-columns: minmax(90px, 1fr) minmax(auto, 1920px) minmax(90px, 1fr);
}




.main-layout:has(.hamburger-menu-checkbox:checked) {
    grid-template-columns: 10rem 1fr;
}

.app.main-layout {
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

.main-layout>* {
    grid-column: 2;
}

.main-layout .full-width {
    grid-column: 1/-1;
}

.container {
    max-width: 800px;
    padding: 1rem;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 1920px) minmax(20px, 1fr);
    }
}