.app-aside {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--main-layout-bg);
    transition: width 0.3s ease-in-out;
    grid-area: 2 / 1;
    padding-block-start: 0.5rem;
}

.app-aside:hover {
    width: 9rem;
}

.app-aside .text {
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.app-aside:hover .text {
    opacity: 1;
}

.main-layout:has(.hamburger-menu-checkbox:checked) .app-aside .text {
    opacity: 1;
}

.app-aside button {
    background-color: var(--main-layout-bg);
    display: flex;
    justify-content: start;
    align-items: center;
    height: 3rem;
    padding: 0 1.5rem;
    padding-left: 10px;
    transition: 200ms;
}

.main-layout:has(.hamburger-menu-checkbox:checked) .app-aside button,
.app-aside:hover button,
.app-aside button.selected {
    border-radius: 0 10rem 10rem 0;
}

.app-aside button .text {
    padding-inline-start: 1em;
}

.app-aside button svg {
    flex-shrink: 0;
}

.app-aside button .text {
    flex-shrink: 1;
}

/* .app-aside .aside-btns img {
    width: 30px;
    height: 30px;
} */

/* .app-aside .aside-btns {
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
} */



.main-page-aside-icon,
.logo-img {
    transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect on box-shadow */
}

.main-page-aside-icon:hover,
 .logo-img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow on hover */
}


.main-page-aside-icon {
    display: flex;
    
}