.app-aside {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    transition: width 0.3s ease-in-out;
    grid-area: 2 / 1;
}

.app-aside:hover {
    width: 10dvw;
}

.app-aside .label {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.app-aside:hover .label {
    opacity: 1;
}

.main-layout:has(.hamburger-menu-checkbox:checked) .app-aside .label {
    opacity: 1;
}

.app-aside .aside-btns img {
    width: 30px;
    height: 30px;
}


.app-aside .aside-btns {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}