header {
    background: var( --main-layout-bg);
    /* border-bottom: 2px solid white; */
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.hamburger-menu {
    padding: 1rem;
    cursor: pointer;
}

.hamburger-menu-checkbox {
    display: none;
}

.app-logo {
    padding: 1rem;
}

.app-search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:not(.user-img-container) {
    padding: 1rem;
}

/* nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: .5rem;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}
 */

.user-img-container {
    height: 3rem;
}

/* .user-img {
    object-fit: none;

} */