header {
    background: var(--main-layout-bg);
}

.app-header {
    justify-content: space-between;
    padding: 0.5rem;
    display: flex;
    gap: 10px;
}

.app-header>* {}


.hamburger-menu-container {
    padding: 0.5rem;
    cursor: pointer;
}

.hamburger-menu-checkbox {
    display: none;
}

.app-logo {
    width: 3rem;
}

.app-search {
    flex-grow: 1;
    display: flex;
}



.menu-logo-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hamburger-menu-container {
    margin-inline-start: 0.6rem;
}

.hamburger-menu-container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #202124;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-open .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.menu-open .bar2 {
    opacity: 0;
}

.menu-open .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.logos-container {
    height: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}


/* homepage */
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.main-page-logo {
    margin: 100px;
    max-width: 500px;

}

.profile-pics {
    display: flex;
    flex-direction: column;
    /* max-width: 250px;
    max-height: 250px; */
    gap: 30px;
    padding: 20px;
}

.profile-photo {
    border-radius: 20px;
    max-width: 200px;
    max-height: 300px;

}

.about-item {
    display: flex;
    gap: 20px;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(180, 166, 166);
    padding: 15px;

}

.about-desc {
    width: 400px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
