header {
    background: var(--main-layout-bg);
}

.app-header {
    justify-content: space-between;
    padding: 0.5rem;
    display: flex;
    gap: 10px;
}

.app-header>* {}


.hamburger-menu-container {
    padding: 0.5rem;
    cursor: pointer;
}

.hamburger-menu-checkbox {
    display: none;
}

.app-logo {
    width: 3rem;
}

.app-search {
    flex-grow: 1;
    display: flex;
}

.menu-logo-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hamburger-menu-container {
    margin-inline-start: 0.6rem;
}

.hamburger-menu-container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #202124;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-open .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.menu-open .bar2 {
    opacity: 0;
}

.menu-open .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.logos-container {
    height: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}


/* homepage */
.main-page-logo {
    width: 90%;
    justify-self: right;
    transition: margin-top 1s ease-in-out;
}

.main-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 885px;
    align-items: center;
    border-bottom: var(--border-seperation);
}

.profile-pics {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 100%;
}

.profile-photo {
    border-radius: 20px;
    width: 50%;
}

.about-item {
    display: flex;
    gap: 20px;
    padding: 15px;
    width: 100%;
    align-self: center;
}

.about-desc {
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.about-desc .get-started-btn {
    width: 60%;
    flex: 1 1 auto;
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: GoogleSans-Regular, Arial;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, #e8f665b2), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.about-desc .get-started-btn:hover {
    --x: 100%;
}


.get-started-btn {
    --c1: #eb0900;
    --c2: #d93d38b6;
    font-size: 1.2rem;
    font-weight: 700;
}

.our-features {
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 80px;
    border-bottom: var(--border-seperation);
}

.features-title {
    font-size: 2rem;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.features-container>* {
    border: var(--border-seperation);
    width: 50%;
    height: 250px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    border-radius: 4px;
}


.features-container div img {
    width: 60px;
    height: 55px;
}

.created-by-container h1 {
    text-align: center;
    font-size: 2rem;
}

.created-by {
    margin: 80px 0;
    border: var(--border-seperation);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding: 20px;
    width: fit-content;
    margin: auto;
}



.created-by img {
    max-width: 180px;
    height: 200px;
    padding: 6px;
}

.created-by .created-by-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.social-links img {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 0;
}


@media screen and (max-width: 768px) {
    .main-page-logo {
        display: none;
    }

    .profile-pics {
        width: 100%;
    }

    .features-container {
        flex-direction: column;
    }

    .created-by {
        flex-direction: column;
    }

    .features-container>* {
        height: fit-content;
    }
}